@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.main-bg {
    height: 1440px;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
}

img {
    border-radius: 10px 0px 0px 10px;
}

.perfume {
    position: relative;
    top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.perfume-text {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: white;
    color: hsl(228, 12%, 48%);
    justify-content: center;
    gap: 20px;
    border-radius: 0px 10px 10px 0px;

}

.perfume-text h1 {
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    margin-left: 25px;
    font-family: 'Fraunces';
}

.perfume-text p {
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.perfume-text span {
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

span.lt {
    letter-spacing: 5px;
}

span.price {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Fraunces';
}

span.price::after {
    content: '$169.99';
    font-size: 0.7rem;
    position: relative;
    bottom: 5px;
    left: 40px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.btn {
    color: white;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat';
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    display: block;
    padding: 12px 70px;
    align-self: center;
}

.btn:hover {
    background-color: hsl(159, 50%, 16%);
}